<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://assets2.onionstatic.com/onion/static/images/favicon-120x120.png"/>
    {{!-- Libraries --}}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {{!-- CSS Links --}}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css'/>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="../app.js"></script>
    <title>Daily Onion</title>
</head>
<body>
    {{{body}}}
            <div class="container center-footer">
                <p class="navbar-text footer-content">Copyright:
                    <a class="footer-content" href="https://github.com/Bryanp2033" target="_blank">B.P</a>
                </p>
            </div>
</body>
</html>