<div class="jumbotron">
    <div class="container" id="jumbo-text">
        <h1 class="display-3 text-center jumbo-header">Daily Onion</h1>
        <p class="p-lead text-center">This is your number one source to get your daily fix on the latest Onion Articles</p>
        <p class="lead text-center">
            <a class="btn btn-success btn-lg" href="#" role="button">Scan New Articles</a>
        </p>
    </div>
</div>