<nav class="navbar navbar-expand-lg navbar-light">
    <form action="" method="GET">
        <a class="navbar-brand" href="/saved">Saved Articles</a>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggåler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <form action="/" method="GET"></form>
                <a class="nav-item nav-link active" href="/">Home
                <span class="sr-only">(current)</span>
                </a>
            </form>
        </div>
    </div>
</nav>

<div class="jumbotron">
</div>

<div id="saved">

    {{#each saved}}
        <div class="article-container" id="saved-article" data-id={{_id}} >
            <a href={{link}} target="_blank"><h3 class="article-text">{{title}}</h3></a>
            <span class="article-date">{{date}}</span>
            <div class="article-footer">
                <button class="btn btn-danger" id="articleBtn" type="submit">Delete</button>
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript">

$(document).on("click", "#saved-article", function(){

    var Articleid = $(this).attr("data-id");

    console.log(Articleid)

    $.ajax({
        method: "POST",
        url: "/delete/" + Articleid,
        data: {
            id: Articleid
        }
    }).done(function(data) {
        location.reload();
    });
})

</script>