.navbar{
    background-color: #5F5F5F;
    padding: 15px;
}

.navbar-brand{
    font-size: 35px;
    color: white !important;
}

.navbar-brand:hover{
    color: green !important;
}

.nav-item{
    font-size: 25px;
    color: white !important;
}

.nav-item:hover{
    color: lightgreen !important;
}

.jumbotron{
    background-image: url("https://lh3.googleusercontent.com/d9fnl-1szEaF6pHfJxi5UB7KhhxEDv44Fz7PKLrgj9EcDu-3u2CwhpNGRlJvsIsy_w=h1264");
    background-size: cover;
    height: 600px;
    
}

.p-lead{
    font-family: "Times New Roman", Times, serif !important;
}

p{
    font-size: 25px;
}

#jumbo-text{
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    margin-top: 200px;
}

#scrape-button{
    margin-left: 130px;
}

.article-container{
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}

.article-container a{
    color: black;
}

.article-container a:hover{
    color: green;
}


.article-text{
    padding: 20px 20px 0px 20px;
}

.article-date{
  margin-left: 20px;
}

.article-footer{
    background-color: lightblue;
    padding: 20px;
    margin-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

/* Modal*/

h4{
    color: grey;
}

#titleinput {
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
}

.modal-footer{
   margin-right: 140px;
}
